body { 
    overflow:auto;
    background: 
    url(https://phonoteka.org/uploads/posts/2021-04/1618458257_40-phonoteka_org-p-fon-dlya-lendinga-40.jpg); 
    background-attachment: fixed;
    font-family: arila, sans-serif ;/*Шрифт*/ font-size: 1.5em;/*Размер шрифта*/
    color: rgb(58, 2, 2);/*Цвет текста*/
    }
header{
    background-color: Cornsilk;
    }
a{
    color: rgb(138, 52, 17);
}
nav {
    box-shadow: 1px 3px 3px 1px gray ;
    border-radius: 50px;
    border: none /*5px outset rgb(226, 185, 185)*/;
    height: 85px;
    width: 1150px;
    text-transform: uppercase;
    text-shadow: 1px 3px 3px gray;
    text-align: center;
    font-size: medium;
    font-weight: bold;/*Толщина шрифта*/
    font-variant: small-caps; /* Тут маленькие заглавные буквы*/
    position: absolute; 
    top: 150px; /*Позиционтрование сверху*/
    left: 170px; /*Позицианирование слева*/
    right: 170px; /*Позицианирование справа*/
    background: linear-gradient(
                rgba(255, 240, 190, 0.452) 1%,
                rgba(243, 219, 184, 0.603) 20%, 
                rgba(247, 168, 50, 0.664), 
                rgba(238, 168, 76, 0.856)) ; 
    padding-left: 200px;
    padding-right: 200px;
    z-index: 4;
    
    }
nav a:link {
    color: rgb(138, 52, 17);
    text-decoration: none;
    cursor: default;
    }
nav a:hover {
    color: rgb(211, 98, 54);
    }
nav a:active {
    color: rgb(173, 81, 45);
    }
article { 
    box-shadow: 1px 3px 3px 0px gray;
    border-radius:0 0 50px 50px;
    width: 1200px;
    left: 280px;
    right: 300px;
    z-index: 3;
    position: absolute; 
    top: 240px;
    background: linear-gradient(rgba(243, 231, 176, 0.589), 
                                rgba(238, 214, 109, 0.589)); 
    padding: 20px 60px 60px 60px; /*Сверху, справа, снизу, слева*/
    }
input{
    box-shadow: inset 1px 3px 3px gray;
    text-align: center;
    position:relative;
    font-size:x-large;
    color: rgb(90, 34, 12);
    font-weight: bold;
    background-color: rgb(253, 247, 244);
    border-radius: 25px;
    border-color: rgb(173, 81, 45);
    border-width: 2px;
    width: 500px;
    height: 50px;
    }
input:active{
    border-color: rgb(233, 110, 62);
    }
form input{
    width: 200px;
    height: 40px;
    position: relative;
    font-size:medium;
    }
.loginform_input{
    width: 150px;
    height: 20px;
    }
.loginform_radio{
    box-shadow: none;
    width: 25px;
    left: -10px;
    }
.loginform_btn{
    box-shadow: none;
    width: 160px;
    height: 30px;
    background: linear-gradient(
        rgba(255, 240, 190, 0.452) 1%,
        rgba(243, 219, 184, 0.603) 20%, 
        rgba(247, 168, 50, 0.664), 
        rgba(238, 168, 76, 0.856)) ; 
    }
.loginform_btn:active{
    background: linear-gradient(
        360deg,
        rgba(255, 240, 190, 0.452) 1%,
        rgba(243, 219, 184, 0.603) 20%, 
        rgba(247, 168, 50, 0.664), 
        rgba(238, 168, 76, 0.856)); 
    border-color: rgb(173, 81, 45);
      
}

#search_btn{
    box-shadow: none;
    left:-200px;
    top: 4px;
    font-size: xx-large;
    background-color: transparent;/*Прозрачный фон для кнопки*/
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 17.5px;
    }
.select{
    text-align: center;
    position:relative;
    left:0px;
    font-size:xx-large;
    color: rgb(90, 34, 12);
    font-weight: bold;
    background: linear-gradient(
        rgba(255, 240, 190, 0.452) 1%,
        rgba(243, 219, 184, 0.603) 20%, 
        rgba(247, 168, 50, 0.664), 
        rgba(238, 168, 76, 0.856)) ; 
    border-radius: 25px;
    border-color:  rgb(173, 81, 45);
    border-width: 3px;
    width: 100px;
    height: 50px;
    }
.select:active{background: linear-gradient(0deg,
    rgba(255, 240, 190, 0.452) 1%,
    rgba(243, 219, 184, 0.603) 20%, 
    rgba(247, 168, 50, 0.664), 
    rgba(238, 168, 76, 0.856)) ; }
.btn{
    position: relative;
    left:-20px;
    font-size:large;
    color: rgb(90, 34, 12);
    font-weight: bold;
    
    border-radius: 25px;
    border-color: rgb(173, 81, 45);
    border-width: 3px;
    width: 300px;
    height: 50px;
    background: linear-gradient(
        rgba(255, 240, 190, 0.452) 1%,
        rgba(243, 219, 184, 0.603) 20%, 
        rgba(247, 168, 50, 0.664), 
        rgba(238, 168, 76, 0.856)) ; 
    }
.btn:active{
        background: linear-gradient(
        360deg,
        rgba(255, 240, 190, 0.452) 1%,
        rgba(243, 219, 184, 0.603) 20%, 
        rgba(247, 168, 50, 0.664), 
        rgba(238, 168, 76, 0.856)); 
    }
form{ font-size: small;
    position: absolute; 
    left: 1720px;
    top: 10px;
    }
#search {position: absolute; 
    left: 1%;
    }
.top{
    text-align: center;
    text-transform: uppercase;
    }  
#main_page{
    position: absolute;
    text-align:justify;/*Выравнивание*/
    display: none; 
    }
#calc_page{
    display: none; /*Блок скрыт*/
    }
p{
    text-indent: 1cm;
    word-wrap: break-word;
    }
ul{
        text-indent: 1cm;
        list-style-position: inside;
    }
#rand_page {
    display: none; /*Блок скрыт*/
    }
#link_page{
    display: block;
    }
footer{ 
    position: absolute;
    font-style:inherit;
    top: 850px;
    left: 800px;
    white-space: pre;
    }